$lightblue: #819FA6;
$darkblue: #2C3E40;
$darkgreen: #555938;
$background: #F2EFDC;
$contrast: #D9CAAD;

body {
    background-color: $background;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh, auto, 100px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header {
    grid-area: header;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    border: solid  $darkblue;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    //position: absolute;
    cursor: pointer;
    transition: 0.2s;

    :hover {
        border-color: $lightblue;
    }
}

#down{
    height: 0px;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}