$lightblue: #819FA6;
$darkblue: #2C3E40;
$darkgreen: #555938;
$background: #F2EFDC;
$contrast: #D9CAAD;

.header {
background-color: $background;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    border: solid  #F1F2E9;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 20px;
    top: 90vh;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
}

.arrow:hover{
    border-color: #261308;
}

#down{
    height: 0px;
}