.white {
  color: white;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade {
  background-color: rgba(255, 255, 255, 0.3);
}

#background-Index {
  background-image: url(../Bilder/mountain.jpg);
  background-attachment: fixed;
}

#background-Grids {
  background-image: url(../Bilder/grids.jpeg);
  background-attachment: fixed;
}

#background-Color {
  background-image: url("/Bilder/fintBilde.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
}

body {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto 100px;
  overflow-x: hidden;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: rgba(44, 62, 64, 0.65);
  position: fixed;
  width: 100%;
  z-index: 2;
}
.menu #icon {
  font-size: 5rem;
  color: white;
}
.menu .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.menu .nav .link {
  padding: 1rem 2rem;
  color: white;
  transition: 0.2s;
  font-weight: bold;
}
.menu .nav .link:hover {
  color: #819FA6;
}
.menu div {
  width: 5rem;
}

h1 {
  font-size: 3em;
  color: #2C3E40;
  font-weight: 700;
}

p {
  color: #2C3E40;
}

.textbox {
  margin-top: 6rem;
}

.planpic {
  margin-top: 3rem;
  width: 70%;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title span {
  text-transform: uppercase;
  display: block;
}
.title .text1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}
.title .text2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #2C3E40;
  text-align: center;
}

.h1ColorPic {
  color: #0583F2;
}

.colorPic {
  width: 70%;
  margin-top: 4rem;
}

#fargeOgBilde .flexColor {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8rem;
}
#fargeOgBilde .flexColor .color1 {
  width: 20%;
  background-color: #033E8C;
}
#fargeOgBilde .flexColor .color2 {
  width: 20%;
  background-color: #0583F2;
}
#fargeOgBilde .flexColor .color3 {
  width: 20%;
  background-color: #0597F2;
}
#fargeOgBilde .flexColor .color4 {
  width: 20%;
  background-color: #03738C;
}
#fargeOgBilde .flexColor .color5 {
  width: 20%;
  background-color: #76832B;
}
#fargeOgBilde h1 {
  margin: 1rem 0 1rem 1rem;
  color: #033E8C;
}
#fargeOgBilde p {
  margin: 1rem 0 1rem 1rem;
  color: #033E8C;
}

@keyframes text {
  0% {
    color: #261308;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
.position {
  left: 50%;
  top: 90vh;
  transform: translate(-50%, -50%);
  position: absolute;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  border: solid #2C3E40;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.arrow:hover {
  border-color: #819FA6;
}

.main {
  grid-area: main;
  background-color: #f0f0f0;
}

.media-scroller {
  --spacer: 2rem;
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 31%;
  padding: 2rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer);
  padding: var(--spacer);
  background: #2C3E40;
  border-radius: 5px;
  box-shadow: rgba(106, 106, 106, 0.363) 5px 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.media-element:hover {
  background-color: #819FA6;
  color: #2C3E40;
  text-decoration: underline;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 2rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.grids-eks {
  padding: 1rem;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas: "header header header header header header" "menu main main main right right" "menu footer footer footer footer footer";
  gap: 10px;
  background-color: #2196F3;
  padding: 1rem;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 40px 0;
  font-size: 30px;
}

.bilde-eks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}
.bilde-eks img {
  width: 30vw;
}

.flexbox-eks {
  padding: 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  padding: 1rem;
  justify-content: space-evenly;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: #F2EFDC;
  border-top: black solid 2px;
  padding: 2rem;
}

.ting {
  background-color: #0597F2;
  color: #033E8C;
}

/*# sourceMappingURL=style.css.map */
