.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
}

body {
  background-image: url(../Bilder/mountain.jpg);
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto 100px;
  overflow-x: hidden;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
  background-color: rgba(255, 255, 255, 0.3);
}

#litenHeader {
  background-color: #F2EFDC;
}

.menu {
  background-color: black;
  position: sticky;
}

#icon {
  font-size: 5rem;
  color: #819FA6;
}

.nav {
  left: 50%;
  top: 6vh;
  transform: translate(-50%, -50%);
  position: absolute;
}
.nav a {
  padding: 40px;
  color: #819FA6;
  transition: 0.2s;
}
.nav a :hover {
  background-color: #819FA6;
  color: black;
}

.overskrift {
  font-size: 3em;
  color: #2C3E40;
  font-weight: 700;
}

p {
  color: #2C3E40;
}

.planpic {
  margin-top: 3rem;
  width: 70%;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title span {
  text-transform: uppercase;
  display: block;
}
.title .text1 {
  color: #555938;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}
.title .text2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #2C3E40;
  text-align: center;
}

@keyframes text {
  0% {
    color: #261308;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
.position {
  left: 50%;
  top: 90vh;
  transform: translate(-50%, -50%);
  position: absolute;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  border: solid #819FA6;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.arrow :hover {
  border-color: #819FA6;
}

.main {
  grid-area: main;
  background-color: #F2EFDC;
}

.media-scroller {
  --spacer: 2rem;
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 31%;
  padding: 2rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer);
  padding: var(--spacer);
  background: #819FA6;
  border-radius: 5px;
  box-shadow: rgba(106, 106, 106, 0.363) 5px 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  color: #2C3E40;
}

.media-element:hover {
  background-color: #2C3E40;
  color: #819FA6;
  text-decoration: underline;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 2rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: #F2EFDC;
}

/*# sourceMappingURL=style.css.map */
